<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Ice Parodi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">ICE PARODI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav navbar-collapse">
                <li class="nav_item">@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li class="nav_item">@Html.ActionLink("Quienes Somos", "Quienes_somos", "Home")</li>
                <li class="nav_item">@Html.ActionLink("Quien Eres", "Quien_eres", "Home")</li>
                <li class="nav_item">@Html.ActionLink("Jovenes", "Jovenes", "Home")</li>
                <li class="nav_item">@Html.ActionLink("Adolescentes", "Adolescentes", "Home")</li>
                <li class="nav_item">@Html.ActionLink("E.B.D", "Escuela_biblica", "Home")</li>
                <li class="nav_item">@Html.ActionLink("Femenina", "Femenina", "Home")</li>
                <li class="nav_item">@Html.ActionLink("Retiros", "Retiros", "Home")</li>
                <li class="nav_item">@Html.ActionLink("Enseñanza", "Ensenianza", "Home")</li>
                <li class="nav_item">@Html.ActionLink("Mensajes", "Mensajes", "Home")</li>
                <li class="nav_item">@Html.ActionLink("Contacto", "Contact", "Home")</li>
            </ul>
        </div>
    </nav>
  
    <!--<div class="container body-content">-->
    @RenderBody()
    <!--<hr />-->
    <footer>
        <p>IGLESIA CRISTIANA EVANG&Eacute;LICA - SGO PARODI N° 5112 - SEGUINOS EN FACEBOOK: <a href='https://www.facebook.com/iceparodi.caseros'>Iceparodi Caseros</a></p>
    </footer>
    <!--</div>-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
